/cmake-build-debug/.ninja_deps
/cmake-build-debug/.cmake/api/v1/reply/target-casal-Debug-2c2ec6fc210ec8cc1481.json
/cmake-build-debug/.cmake/api/v1/reply/target-casalCiumento-Debug-f641bff3c6270224f569.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json
build
.vscode
/output/*